
.container {width: 95%;
margin:auto}


.box1{background-color:#00ccff;
color:white;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
margin-top: 10px;
margin-bottom: 50px;
border-radius: 50px 50px 50px 50px;
}


.box2{background-color:#66ff66;
color:white;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
padding-top: 10px;
padding-right: 50px;
padding-left:50px;
padding bottom=20px;
border-radius: 50px 50px 50px 50px;
margin-bottom:50px;
}

.box3{background-color:#ff1a1a;
color:white;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
padding-top: 10px;
padding-right: 50px;
padding-left:50px;
padding bottom=20px;
border-radius: 50px 50px 50px 50px;
margin-bottom:50px;}

.box4{color:white;
background-color:#ffff1a;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
padding-top: 10px;
padding-right: 50px;
padding-left:50px;
padding bottom=20px;
border-radius: 50px 50px 50px 50px;
margin-bottom:50px;}
.box4 ul{
list-style:none;
}
.box5{color:white;
background-color:#cc00ff;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
padding-top: 10px;
padding-right: 50px;
padding-left:50px;
padding-bottom:50px;
border-radius: 50px 50px 50px 50px;
margin-bottom:50px;}
.box6{color:white;
background-color:#ff3399;
text-shadow:2px 2px 25px #101010;
font-family:Comic Sans MS;
font-size:1.8em;
line-height:2em;
box-shadow: 20px 20px 8px #808080;
padding-top: 10px;
padding-right: 50px;
padding-left:50px;
padding-bottom:50px;
border-radius:50px 50px 50px 50px;
margin-bottom:50px;}
.btn{
  height:100%;
}
.btn{
  text-align:center;
}
.btn:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: 'Montserrat', sans-serif;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: 10%;
  right: 10px;
}
.bigcont{width:100%}
.main-footer{
color:white;
background-color:#0099ff;
height:400px;
font-size:1.6em;
padding-left:0;
left:0;
right:0;

}.main-footer p {font-size:0.8em;
position:relative;
top:40%;
text-align:center
}
.main-footer a{color: #000099;
font-family: 'Montserrat', sans-serif;
font-style:italic;
margin: 10px 20px;
text-decoration: none;}
.main-footer a:hover{ color: #EAF6F6 }
.contactme{font-color:white;
font-size:2em;
position:relative;
top:10%;
text-align:center
}